@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 


/* For WebKit browsers (Chrome, Safari) */

/* Track */
::-webkit-scrollbar {
    width: 12px;
    /* Set the width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #26282c;
    /* Set the color of the scrollbar handle */
    border-radius: 6px;
    /* Set the border radius of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #2c3958;
    /* Set the color of the scrollbar handle on hover */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
    background-color: #ddd;
    /* Set the color of the scrollbar track on hover */
}

/* Track fill */
::-webkit-scrollbar-track-piece {
    background-color: #ddd;
    /* Set the color of the scrollbar track */
}

/* Handle when grabbing it */
::-webkit-scrollbar-thumb:active {
    background-color: #333;
    /* Set the color of the scrollbar handle when grabbing it */
}


